*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;;
}
header{
    height: 500px;
    background-color: rgb(255, 192, 23);
    border-bottom: solid 1px grey;
    
    
}
#navigation{
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin-inline: auto;
}
.cointainer{
    border-bottom: solid 1px grey;
    
}
#navFix{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255, 192, 23);
    border-bottom: solid 1px grey;
    transition: opacity 1.3s ;
}
.hidden{
    opacity: 0;
}


#logo{
    margin-top: 15px;
    cursor: pointer;
    
}
nav{
    height: 57px;
    
    
}
#navigationBar ul{
    display: flex;
    width: 470px;
    justify-content: space-evenly;
    margin-top: 21px;
    list-style: none;
    
}
#navigationBar ul li{
    font-size: 0.9em;
    font-weight: 300;
    cursor: pointer;
}

#graficM{
    height: 400px;
    
    position: absolute;
    right: 0;
    top: 82px;
}
.selected{
    background-color: rgb(24, 25, 25);
    color: white;
    padding: 10px;
    margin-top: -10px;
    margin-left: -14px;
    border-radius: 30px;
    cursor: pointer;
}
#titolo{
    max-width: 1120px;
    margin-inline: auto;
    
}
h1{
    font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
    font-size: 6.8em;
    margin-top: 77px;
    letter-spacing: -7px;
}
h3{
    font-size: 1.1em;
    font-weight: 500;
}
#titolo p{
    margin-block: 40px;
    font-size: 1.4em;
    font-weight: 300;
}
#titolo p:last-of-type {
    width: 200px;
    margin-left: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
}
article{
    max-width: 1120px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
    
}
#trending{
    max-width: 1120px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
#trending h5{
    font-size: 0.7em;
    font-weight: bold;
}
.articles{
    display: flex;
}
.imgArticle{
    display: flex;
    align-items: center;
    font-size: 0.8em;
    
}


.titoloArticolo{
    margin-block: 7px;
    font-size: 0.9em;
}
.titoloArticolo h3{
    font-size: 1em;
    font-weight: 600;
}
.sottotitoloArticolo{
    display: flex;
    font-size: 0.9em;
    color: grey;   
}
.sottotitoloArticolo p{
    margin-right: 15px;
}
.numArt{
    font-size: 1.5em;
    color: rgb(228, 228, 228);
    font-weight: 700;
}
.littleRound{
    border-radius: 50%;
    width: 20px;
    margin-inline: 4px;
}
.TitleContainer{
    margin-left: 35px;
     
}
    

.Article{
    width: 334px;
    cursor: pointer;
}
main{
    border-top: solid 1px grey;
}
.contenitoreMain{
    display: flex;
    max-width: 1120px;
    margin-inline: auto;
    margin-top: 50px;
    
}
.sopraTitolo{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.contenitoreArticoli{
    width: 720px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 45px;
}
.littlePhoto{
    border-radius: 50%;
    height: 20px;
    object-fit: contain;
}
.imgArticolo{
    width: 170px;
}
.text h3{
    margin-bottom: 10px;
}
.singoloArticolo{
    cursor: pointer;
}
.sottotitolo{
    margin-top: 10px;
    font-size: 0.8em;
    color: grey;
}
.aging{
    background-color: rgb(241, 242, 242);
    padding: 5px;
    border-radius: 30px;
}
.asideContainer{
    margin-left: 20%;
    border-bottom: solid 1px lightgray;
    padding-bottom: 40px;
}
.asideSection h5{
    margin-bottom: 15px;
    font-weight: 500;
}
.buttons{
    background-color: transparent;
    padding: 7px;
    border: solid 1px lightgray;
    margin-bottom: 5px;
    margin-top: 5px;
    color: grey;
    cursor: pointer;
}
.footer{
    margin-left: 20%;
    margin-top: 40px;
    
}
.footer ul{
    display: flex;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
    color: gray;
    font-size: 0.5;
    
}
.footer ul li{
    cursor: pointer;
}



